*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

::selection{
  color: white;
  background-color: rgb(177, 61, 30);
}

@media screen and (max-width:1280px){

}
@media screen and (max-width:1130px){

  .footer .list{
    margin: 80px 10px;
    padding: 0px 40px;
    border-right: 2px solid white;
    color: white;
    font-family: 'Raleway', sans-serif;
  }

  .footer .list a{
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 10px 0px;
  }

  .footer .list h2 {
    padding: 20px 0px;
    font-size: 1.8em;
  }

}

@media screen and (max-width:880px){

}

@media screen and (max-width:880px){

}

@keyframes content1 {
  0% {opacity: 0; bottom: -700px;}
  50% {opacity: 0.5 bottom: -500px}
  80% {opacity: 0.9 bottom: -500px}
  100% {opacity: 1; bottom: 0px;}
}
@keyframes content2 {
  0% {opacity: 0; bottom: -700px;}
  50% {opacity: 0.5 bottom: -500px}
  80% {opacity: 0.9 bottom: -500px}
  100% {opacity: 1; bottom: 0px;}
}


.width{
  position: fixed;
  left: 0px;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  transition: 0.5s all;
  background: green;
  transform: translateX(0);
}

.block{
  display: block;
}

body{
  background-color: #ededed;
  background-image: url('images/bg1.gif');
  animation: 1s content1;
}

.size{
  width: 160px;
  height: 230px;
}

.font{
  color: rgb(54, 67, 80);
}

.align{
  text-align: justify;
  text-align-last: center;
}

.pos1{
  position: relative;
  bottom: 0;
  animation-name: content1;
  animation-duration: 1.3s;
}
.pos2{
  position: relative;
  bottom: 0;
  animation-name: content2;
  animation-duration: 1.3s;
  animation-delay: 0.1s;
}

.row{
  display: flex;
}

.shadow{
  box-shadow: 8px 8px 12px rgba(4, 4, 4, 0.2);
}

.container{
  overflow-x: hidden;
  z-index: 1;
}

.content{
  max-width: 890px;
  margin: auto;
}

.ads{
  height: 460px;
}

p{
  font-family: 'Raleway', sans-serif;
}

.left{
  background: #fff;
  padding: 20px 35px;
  margin: 15px 5px 0px 0px;
  align-items: center;
}

.left .logo{
  width: 160px;
  height: 80px;
  background-image: url('coffee/head.png');
  -webkit-background-size: cover;
  background-size: cover;
  position: relative;
  left: 30%;
  margin: 5px 0px;
  background-color: orange;
}

.left h1{
  font-family: 'Raleway', sans-serif;
  font-size: 2.9em;
  text-align: center;
  padding: 10px 0px;
  letter-spacing: 2px;
}

.left h2{
  font-family: 'Raleway', sans-serif;
  font-variant: small-caps;
  text-align: center;
  letter-spacing: 6px;
}

.left p{
  text-align: justify;
  text-align-last: left;
  font-size: 0.97em;
  padding: 25px 0px;
}

.right .pic{
  background-image: url("coffee/latte.jpeg");
  -webkit-background-size: cover;
  background-size: cover;
  height: 445px;
  width: 440px;
}

.right{
  background: #fff;
  box-sizing: content-box;
  margin: 15px 0px 0px 5px;
}

.right h1{

}

.container .choose h1 {
  font-family: 'Raleway',sans-serif;
  font-size: 2em;
  text-align: center;
  margin: 15px 0px;
  padding: 200px 0px;
  color: white;
  background-image: url('images/coffe.jpeg');
  max-width: 1440px;
}

.section{
  flex-wrap: wrap;
  justify-content: center;
}

.coffee{
  padding: 5px 5px;
  background: #fff;
  text-align: center;
  margin: 20px;
  transition: 2s all;
}

.coffee:hover{

}

.coffee h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 100;
  font-size: 1.9em;
  padding: 5px 0px 10px 0px;
}

.coffee p{
  max-width: 300px;
  font-size: 0.7em;
}

.coffee h3{
  margin: 50px 0px 10px 0px;
  padding: 10px;
  background-color: #05905e;
  border-radius: 200px;
  font-family: 'Raleway', sans-serif;
  color: white;
  width: 40%;
  letter-spacing: 4px;
  font-size: 1em;

}

.coffee h3:hover{
  background-color: #6a2c05;

}


.contact{
  width: 100%;
  height: 700px;
  background-image: url('images/bgc.jpg');
  -webkit-background-size: cover;
  background-size: cover;
  align-items: center;
}

.contact h1{
  text-align: left;
  line-height: 90px;
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  color: rgb(236, 236, 236);
  letter-spacing: 2px;
}

.soscontainer{
  position: relative;
  left: 700px;
  top: -79px;
}

.sosmed{
  position: relative;
  top: 40px;
  left: 60px;
}

.sosmed a{
  text-decoration: none;
  color: white;
  margin: 20px 60px;
  font-size: 3em;
}

.sosmed a:nth-child(1):hover{
  color: #1172f2;
}
.sosmed a:nth-child(2):hover{
  color: #11def2;
}
.sosmed a:nth-child(3):hover{
  color: #f22c11;
}


.footer{
  background-image: url('images/bgg.jpg');
  align-items: center;
  justify-content: center;
}

.list{
  margin: 80px 10px;
  padding: 0px 80px;
  border-right: 2px solid white;
  color: white;
  font-family: 'Raleway', sans-serif;
}

.list a{
  display: block;
  text-decoration: none;
  color: white;
  font-size: 1em;
  padding: 10px 0px;
}

.list h2 {
  padding: 20px 0px;
  font-size: 1.8em;
}

.list a:hover{
  text-decoration: underline;
}

.list:last-child{
  border: 0px;
}

.menubarC{
  box-shadow: 1px 1px 15px rgba(59, 57, 57, 0.5);
  background-color: #fff;
  z-index: 2;
  width: 100%;
  height: 100%;
}

.menubar{
  max-width: 1130px;
  margin: auto;
  overflow: hidden;
  background-color: #fff;
  width: 100%;
}

.menubar a{
  font-size: 1.3em;
  text-decoration: none;
  color: black;
  float: right;
  font-family: 'Open Sans', sans-serif;
  padding: 40px 30px;
  align-items: center;
  transition: .2s;
  color: rgb(54, 67, 80);
  background-color: #fff;
}

.menubar a:first-child{
  background-image: url("images/logo7.gif");
  -webkit-background-size: cover;
  padding: 45px 90px;
  background-size: cover;
  float: left;
  margin-top: 10px;
}

.menubar a.current{
  color: orange;
}

.menubar a:not(:first-child):hover{

  color: rgb(249, 137, 21);
  transition: .4s;
}

.menubarR{
  top: 0;
  position: fixed;
  overflow-x: hidden;
  width: 0px;
  height: 100%;
  background: white;
  z-index: 2;
  box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.4);
  left: 0px;
  -webkit-transition: .1s ease-in-out;
  -o-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  padding-top: 60px;
  font-family: 'Raleway',sans-serif;
}

.menubarR a{
  text-decoration: none;
  font-size: 1.5em;
  display: block;
  text-align: left;
  padding: 20px 8px 20px 40px;
  color: rgb(250, 102, 29);
}

.menubarR a:hover{
  background: rgb(250, 102, 29);
  color: white;
  -webkit-transition: 0.12s ease-in-out;
  -o-transition: 0.12s ease-in-out;
  transition: 0.12s ease-in-out;
}


.button{
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 1.2em;
  padding: 20px;
  cursor: pointer;
  object-fit: none;
  color: rgb(254, 71, 39);
  border-radius: 2300px;
  background-color: white;
  box-shadow: 9px 9px 15px rgba(18, 17, 17, 0.2);
  -webkit-transition: 0.2s all;
  -o-transition: 0.2s all;
  transition: 0.2s all;
  z-index: 4;
}

.button:hover{
  color: rgb(103, 22, 13);
}
